@import url("https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script&display=swap");
body {
  font-family: Verdana, sans-serif;
  line-height: 1.55; }
  body p {
    color: #333; }

img {
  max-width: 100%;
  height: auto; }
