nav {
    ul{
        @include break(0, 499px) {
            .logo {
                display: none;
            }
        }
        li {
            list-style-type: none;
            @include linx($nav-color, $heading-color, $red);
            &:hover {
                background-color: $background-hover;

                &:first-of-type {
                    background-color: transparent;
                }
            }
            a { 
                display: block;
                padding: 12px 10px;
                text-transform: uppercase;
            }
        } 
        @include break(500px) {
            display: flex;
            justify-content: center;
            li:first-of-type {
                margin-right: auto;
            }
            li {
                a {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 56px;
                    &.logo {
                        padding: 0;
                    }
                }
            }
        }
    }
}