* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.container {
    box-shadow: 0px 3px 8px 3px $shadow;
    font-family: $font-body;
    margin: 0 auto;
    max-width: 960px;
    line-height: 1.55;
    a, li, p {
        font-size: $size-text;
    }
}
header, footer {
    background-color: $nav-background;
}
footer {
    text-align: center;
}
p {
    color: $text-color;
    padding-bottom: nth($pd, 3);
    footer & {
        color: $nav-color;
        padding: nth($pd, 2); // using list nth($list, $n) function
    }
}
ul {
   margin: nth($pd, 3);
   li {
    list-style-type: none;
    margin: nth($pd, 1);
    section &::before {
        content: '✓';
        padding: nth($pd, 2);
        }
    }
   &.facts {
       margin: 0;
        li {
        border-radius: 10px;
        padding: nth($pd, 2);
        &:hover {
            background-color: $list-hover;
        }
    }
   }
}
%h {
    color: $heading-color;
    font-family: $font-headings;
    padding-top: nth($pd, 3);
    margin-left: nth($pd, 3)+5;
}
@each $key, $value in $size-headings { /* @each rule */
    #{$key} {
        @extend %h;
        font-size: $value;
    }
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 15px 0;
    @include break(650px) {
        margin-right: -2%;
    }
    &.art {
        margin-top: 0;
    }
    figcaption {
        padding: 0 15px;
        text-align: center;
        @include break (650px) {
            text-align: right;
        }
    }
}
a {
    text-decoration: none;
}
aside {
    @include linx($aside-color,lighten($green, 15%),$red);
}
main {
    padding: 0 2%;
    @include break (650px) {
        padding-right: 0;
        display: grid; /* grid system */
        grid-template-columns: 600/960*100% 100-(600/960*100%); /* math operators */
        
        aside {
            background-color: $background-aside;
            background: linear-gradient(180deg, $background-aside 0%, $nav-color 70%);
            padding-left: nth($pd, 4);

            h2, h3 {
                color: lighten($heading-color, 12%); /* color function */
            }
        }
        section {
            padding-right: 2%;
        }
    }
}
%btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-family: $font-body;
    user-select: none;
    color: $body-background;
}
$color-btns: (
    difference: $green,
    involved: $red,
    participate: $darkblue
);
@each $name, $value in $color-btns {
    .btn-#{$name}{
        @extend %btn;
        background-color: $value;
        &:hover {
            background-color: transparentize($value, .3);
        }
    }
}
/*        CODE for responsive video    */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*        end CODE for video           */