@mixin linx ($link, $hover, $active) {
    a {
      color: $link;
      &:hover {
        color: $hover;   
      }
      &:active {
        color: $active;
      }
    }
  }
  @mixin break($args...) {
    @if length($args) == 1 {
      @media (min-width: nth($args, 1)) {
        @content;
      }
    } @else {
      @media (min-width: nth($args, 1)) and 
             (max-width: nth($args, 2)) {
                @content;
              }
    } 

  }