@import url('https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script&display=swap');

$body-background:   #fefffa;
$text-color:        #333;
$heading-color:     #2c5573;
// $links:             #1A64A8;
$nav-background:    #928c7d;
$nav-color:         #fff;
$link-active:       darkred;
$aside-color:       #625d53;


$font-body: Verdana, sans-serif;