@import url('https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script&display=swap');

$text-color:        #333;
$heading-color:     #2c5573;
$links:             #1A64A8;
$nav-background:    #928c7d;
$nav-color:         #fff;
$body-background:   #fefffa;

$font-body: Verdana, sans-serif;